@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

html {
	body {   
		width: auto !important;
		overflow-x: hidden !important;
		margin: 0;
		font-family: 'Lato', sans-serif;
		overflow-x: hidden;
	}
}

a {
    color: #282f35;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
}
a:hover {
    color: rgba(40, 47, 53, 0.5);
    text-decoration: none;
}

p {
	font-size: 22px;
	color: #282f35;
	font-weight: 300;
	text-align: justify;
	text-justify:inter-word;
}

/* HEADER */
header {
	background: url(../img/top-bg.jpg) no-repeat center #6eb7f6;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 685px;

	.logo {
		background: url(../img/main-logo.png) no-repeat center center;
		width: 94px;
		height: 85px;
		position: absolute;
		top: 0;
		left: 435px;
	}

	.r_spacer {
		margin-right: 180px;
	}

	nav {
	    height: 85px;
	    margin-top: 30px;
	    position: relative;

	    ul, ol {
	    	padding:0;
			list-style: none;
			list-style-image: none;	

			li {
				display: inline;
				margin-right: 30px;
				font-size: 16px;

			}
	    }
	}

	.pullcontainer {

		.pull {
			float: right;
			margin: 25px;
		}

		.logo_mobile {
			float: left;
			padding-top: 10px;
		}
	}
}

/* ABOUT */

.about {
	padding: 80px 0 110px 0;
	height: auto;
}

/* WORK */

.work {
	background-color: #f7f7f7;
	padding: 80px 0;

	#info {
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;				
		background:#fcf8e3;
		border:1px solid  #fbeed5;
		width:95%;
		max-width:900px;
		margin:0 auto 40px auto;
		font-family:arial;
		font-size:12px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	#info .info-wrapper {
		padding:10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
		
	#info a {
		color:#c09853;
		text-decoration:none;
	}
		
	#info p {
		margin:5px 0 0 0;
	}


	.container { 
		position: relative; 
		width: 960px; 
		margin: 0 auto; 
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;	
	}
	 
	#filters {
		margin:1%;
		padding:0;
		list-style:none;
	}

	#filters li {
		float:left;
	}

	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}

	#filters li span.active {
		background: #02779E;
		color:#fff;
	}
	 
	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width:23%;
		margin:1%;
		display:none;
		float:left;
		overflow:hidden;
	}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
	}

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}

	.portfolio .label-bg {
		background: #B8D0DD;
		width: 100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
	}

	.portfolio .label-text {
		color:#fff;
		position: relative;
		z-index:500;
		padding:5px 8px;
	}

	.portfolio .text-category {
		display:block;
		font-size:12px;
	}
		
		
		



	/* #Tablet (Portrait) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container {
			width: 768px; 
		}
	}


	/*  #Mobile (Portrait) - Note: Design for a width of 320px */
	@media only screen and (max-width: 767px) {
		.container { 
			width: 95%; 
		}
		
		#portfoliolist .portfolio {
			width:48%;
			margin:1%;
		}		

		#ads {
			display:none;
		}
		
	}


	/* #Mobile (Landscape) - Note: Design for a width of 480px */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container {
			width: 90%;
		}
		
		#ads {
			display:none;
		}
		
	}
}

.label {
	font-size: 100%;
}

/* GET INCONTACT */

.contact {
	padding: 40px 0 110px 0;
	background: url(../img/contact-bg.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;

	.sign-up {
		padding: 0 15px;

		.logo-contact {
			text-align: center;
			margin: 90px 0 40px 0;
			border: 3px solid #fff;
		    border-radius: 75px;
		}

		// h2.logo-contact {
		// 	text-align: center;
		// 	color: #282f35;
		// 	letter-spacing: 1px;
		// 	font-size: 24px;
		// 	font-weight: 300;
		// 	background: url(../img/dan.png) no-repeat top center;
		// 	padding-top: 164px;
		// 	margin: 70px 0 40px 0;
		// 	font-style: italic;
		// 	background-size: 150px;
		// }

		.contact_txt {
			color:#fff;
		}

		h2.contact_txt{
			font-weight: 500;
		}

		p {
			font-size: 25px;
		}
	}
}

/* SKILLS */

.skills {
	margin: 80px 0;
}

/* FOOTER */

footer {
	background-color: #f7f7f7;
	padding: 100px 0;

	.footer-icons {
		list-style: none;
		margin-top: 40px;
		padding:0;

		li {
			display: inline;
			margin-right: 15px;

			a {
				color: #282f35;
				&:hover {
					color: rgba(40, 47, 53, 0.5);
				}
			}
		}
	}
}


/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}