html {
	body {   
		width: auto !important;
		overflow-x: hidden !important;
		margin: 0;
		font-family: 'Lato', sans-serif;
		overflow-x: hidden;
	}
}

a {
    color: #282f35;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
a:hover {
    color: rgba(40, 47, 53, 0.5);
    text-decoration: none;
}

p {
	font-size: 22px;
	color: #282f35;
	font-weight: 300;
}

/* HEADER */
header {
	background: url(../img/top-bg.jpg) no-repeat center #6eb7f6;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 685px;

	.logo {
		background: url(../img/main-logo.png) no-repeat center center;
		width: 94px;
		height: 85px;
		position: absolute;
		top: 0;
		left: 435px;
	}

	.r_spacer {
		margin-right: 180px;
	}

	nav {
	    height: 85px;
	    margin-top: 30px;
	    position: relative;

	    ul, ol {
	    	padding:0;
			list-style: none;
			list-style-image: none;	

			li {
				display: inline;
				margin-right: 15px;
				font-size: 18px;
			}
	    }
	}

	.pullcontainer {

		.pull {
			float: right;
			margin: 25px;
		}

		.logo_mobile {
			float: left;
			padding-top: 10px;
		}
	}
}

/* ABOUT */

.about {
	padding: 80px 0 110px 0;
	height: 430px;
}

/* GET INCONTACT */

.contact {
	padding: 40px 0 110px 0;
	background: url(../img/contact-bg.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;

	.sign-up {
		padding: 0 15px;

		h2.logo-contact {
			text-align: center;
			color: #282f35;
			letter-spacing: 1px;
			font-size: 24px;
			font-weight: 300;
			background: url(../img/dan.png) no-repeat top center;
			padding-top: 164px;
			margin: 70px 0 40px 0;
			font-style: italic;
			background-size: 150px;
		}

		h2.contact_txt{
			font-weight: 500;
		}

		p {
			font-size: 25px;
		}
	}
}


/* FOOTER */

footer {
	background-color: #f7f7f7;
	padding: 100px 0;

	.footer-icons {
		list-style: none;
		margin-top: 40px;

		li {
			display: inline;
			margin-right: 15px;

			a {
				color: #282f35;
				&:hover {
					color: rgba(40, 47, 53, 0.5);
				}
			}
		}
	}
}