@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

html {
	body {   
		width: auto !important;
		overflow-x: hidden !important;
		margin: 0;
		font-family: 'Lato', sans-serif;
		overflow-x: hidden;
	}
}

a {
    color: #282f35;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
}
a:hover {
    color: rgba(40, 47, 53, 0.5);
    text-decoration: none;
}

p {
	font-size: 22px;
	color: #282f35;
	font-weight: 300;
	text-align: justify;
	text-justify:inter-word;
}

/* HEADER */
header {
	background: url(../img/top-bg.jpg) no-repeat center #6eb7f6;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 685px;

	.logo {
		background: url(../img/main-logo.png) no-repeat center center;
		width: 94px;
		height: 85px;
		position: absolute;
		top: 0;
		left: 435px;
	}

	.r_spacer {
		margin-right: 180px;
	}

	nav {
	    height: 85px;
	    margin-top: 30px;
	    position: relative;

	    ul, ol {
	    	padding:0;
			list-style: none;
			list-style-image: none;	

			li {
				display: inline;
				margin-right: 30px;
				font-size: 16px;

			}
	    }
	}

	.pullcontainer {

		.pull {
			float: right;
			margin: 25px;
		}

		.logo_mobile {
			float: left;
			padding-top: 10px;
		}
	}
}

/* ABOUT */

.about {
	padding: 80px 0 110px 0;
	height: auto;
}

/* PORTFOLIO */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


.left-box-1 {
    width: 50%;
    float: left;
}
.left-box-2 {
    width: 50%;
    float: right;
}
.left-box-btm {
    width: 100%;
}
.left-box-1 img,
.left-box-2 img,
.left-box-btm img {
    width: 100%;
}
.mid-box-1 {
    width: 50%;
    float: left;
}
.mid-box-2 {
    width: 50%;
    float: right;
}
.mid-box-1 img {
    width: 100%;
    height: 100%;
}
.mid-box-2 img {
    width: 100%;
    height: 100%;
}
.right-box-1 {
    width: 100%;
}
.right-box-2 {
    width: 50%;
    float: left;
}
.right-box-3 {
    width: 50%;
    float: right;
}
.right-box-3 img,
.right-box-2 img,
.right-box-1 img {
    width: 100%;
}
.effects {
    background-color: #f7f7f7;
}
.effects .img {
    position: relative;
}
.effects .img img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.overlay {
    z-index: 10
}
a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}
a.close-overlay.hidden {
    display: none
}
#effect .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(108, 130, 185, 0.8);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#effect .overlay a.expand {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: url(../img/white-bike-icon.png) no-repeat top center;
    background-size: 30px;
    padding-top: 25px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
}
#effect .img {
    overflow: hidden
}
#effect .img.hover .overlay {
    opacity: 1
}
#effect .img.hover .overlay a.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
}

/* GET INCONTACT */

.contact {
	padding: 40px 0 110px 0;
	background: url(../img/contact-bg.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;

	.sign-up {
		padding: 0 15px;

		h2.logo-contact {
			text-align: center;
			color: #282f35;
			letter-spacing: 1px;
			font-size: 24px;
			font-weight: 300;
			background: url(../img/dan.png) no-repeat top center;
			padding-top: 164px;
			margin: 70px 0 40px 0;
			font-style: italic;
			background-size: 150px;
		}

		h2.contact_txt{
			font-weight: 500;
		}

		p {
			font-size: 25px;
		}
	}
}

/* SKILLS */

.skills {
	margin: 80px 0;
}

/* FOOTER */

footer {
	background-color: #f7f7f7;
	padding: 100px 0;

	.footer-icons {
		list-style: none;
		margin-top: 40px;

		li {
			display: inline;
			margin-right: 15px;

			a {
				color: #282f35;
				&:hover {
					color: rgba(40, 47, 53, 0.5);
				}
			}
		}
	}
}